<form (ngSubmit)="onSubmit(userform)" #userform="ngForm">
    <div class="container">

        <h2>Tata Elxsi<span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></h2>
        <div class="intro-text">
            <h1>Sign up</h1>
           </div>
        <b>Create an account!</b>
       
        <div class="inputs">
            <div class="row">
            
                <div class="col">
                     <div class="input">
                        <input type="text" name="name"  ngModel required #name="ngModel"/>
                        <label for="name">
                            Name
                        </label>
                        <span *ngIf="!name.valid && name.touched"class="help-block">Name Field Cannot be Empty!</span>
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col">
                    <div class="input">
                        <input type="text" name="email"  ngModel required email #email="ngModel"/>
                        <label for="email">
                            Email
                        </label>
                        <span *ngIf="!email.valid && email.touched"class="help-block">Please Enter Valid Email</span>
                    </div>
                </div>
              </div><br>

            <div class="row">
            
                <div class="col">
                    <div class="input">
                        <input type="password" name="password"  ngModel required #password="ngModel"/>
                        <label for="password">
                            Password
                        </label>
                        <span *ngIf="!password.valid && password.touched"class="help-block">Password Field Cannot be Empty!</span>
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col">
                   <div class="input">
                        <input type="text" name="phone"  ngModel required #phone="ngModel"/>
                        <label for="phone">
                            Phone
                        </label>
                        <span *ngIf="!phone.valid && phone.touched"class="help-block">Phone Field Cannot be Empty!</span>
                    </div>
                </div>
              </div><br>

              <div class="row">
            
                <div class="col">
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Continent</mat-label>
                            <mat-select [(value)]="userData.continent" [formControl]="cont">
                              <mat-option  (click)="onContinentChange()" [value]="option" *ngFor="let option of continents">{{ option }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="!userData.continent && (cont.touched || cont.dirty)">Please select Continent.</mat-error>
                    </div>
                </div>
                
                <div class="col">
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Country</mat-label>
                            <mat-select [(value)]="userData.country" [formControl]="country">
                              <mat-option (click)="onCountryChange()" [value]="option.country" *ngFor="let option of countriesList">{{ option.country }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <mat-error *ngIf="!userData.continent && (country.touched || country.dirty)">Please select Continent First.</mat-error>
                        <mat-error *ngIf="!userData.country && (country.touched || country.dirty)">Please select country.</mat-error>

                    </div>
                </div>

                <div class="col">
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Language</mat-label>
                            <mat-select [(value)]="userData.lan" [formControl]="lang">
                              <!-- <mat-option></mat-option> -->
                              <mat-option [value]="option" *ngFor="let option of languagesList">{{ option }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        <mat-error *ngIf="!userData.country && (lang.touched || lang.dirty)">Please select Country First.</mat-error>
                        <mat-error *ngIf="!userData.lan && (lang.touched || lang.dirty)">Please select Language.</mat-error>
                    </div>
                </div>
              </div>
        
        </div><br>
        <a  (click)="move_to_forgot_password()" class="forgot-pass-link">Forgot password?</a>
    
        <button type="submit" [disabled]="(!userform.valid) || (!userData.continent || !userData.country || !userData.lan)"> Register</button>
       
        <p class="join-link">Registered User? <a (click)="move_to_login()">Sign in</a></p>
      </div>
    </form>